
<!--<div style="background-color: #bfd7b5; font-family: Arial, Helvetica, sans-serif">sasad</div>-->
<!--<div style="background-color: #413c58; color: white;">sasad</div>-->
<!--<div style="background-color: #e0f778;">sasad</div>-->

<!--<button class="rounded-button">Zaloguj się</button>-->
<!--<button class="rounded-button">Wyloguj się</button>-->
<!--<button class="rounded-button">ZALOGUJ SIĘ</button>-->
<!--<button class="rounded-button">WYLOGUJ SIĘ</button>-->

<router-outlet></router-outlet>
