.title{
  font-size: 50px;
font-weight: bolder;
letter-spacing: 2px;
color: #1a1433;
}

.log-info{
  font-size: 20px;
 color: #413c58;
  justify-self: center;
  align-self: center;
  margin: 10px;
}

.rounded-button {
  border-radius: 30px; /* Adjust the value to make the button more or less rounded */
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #413c58;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
.navbar{
  padding:0px;
  border-bottom: 1px solid #b0c279;
}
